.header {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  height: 10vh;
  width: 100vw;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  font-size: x-large;
  color: rgb(245, 226, 253);
}
.header-item {
  font-weight: 300;
  font-style: italic;
  font-size: x-large;
}

.tracy {
  padding: 30px;
}
